<div class="canvas-container<%= ' first' if @game.steps.count == 0 %>">
  <% if @game.steps.count > 0 %>
  <%= image_tag @game.steps.order(:game_index).last.image(:preview), alt: '', class: 'preview' %>
  <% end %>
  <canvas id="canvas"></canvas>
</div>

<ul class="colors option">
  <li data-color="black" class="selected"></li>
  <li data-color="white"></li>
  <li data-color="red"></li>
  <li data-color="orange"></li>
  <li data-color="yellow"></li>
  <li data-color="blue"></li>
  <li data-color="green"></li>
  <li data-color="indigo"></li>
  <li data-color="violet"></li>
</ul>

<ul class="sizes option">
  <li data-size="1" class="selected"></li>
  <li data-size="5"></li>
  <li data-size="10"></li>
  <li data-size="15"></li>
  <li data-size="20"></li>
  <li data-size="35"></li>
  <li data-size="50"></li>
</ul>